html {
  // font-size: 16px;

  // font-size: calc(100vw / 1024 * 10);

  // @include media("<=tablet") {
  //   font-size: calc(100vw / 768 * 10);
  // }

  // @include media("<=phone") {
  //   font-size: calc(100vw / 320 * 10);
  // }

  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

  scroll-behavior: smooth;
}
