$bgPrimary: #e7e7e7;
$bgSecondary: #0c0c0c;
$textPrimary: #0f0f0f;
$textSecondary: #646464;
$borderColor: #181818;
$borderColorAlt: #f0f0f0;
$cursorColor: #1b1b1b7a;
$titleFontSize: calc(100vw / 3);
$titleFont: Clash Display;
$textFont: Clash Display;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
