html {
  // font-size: 16px;

  // font-size: calc(100vw / 1024 * 10);

  // @include media("<=tablet") {
  //   font-size: calc(100vw / 768 * 10);
  // }

  // @include media("<=phone") {
  //   font-size: calc(100vw / 320 * 10);
  // }

  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

  scroll-behavior: smooth;
}

body {
  background-color: $bgPrimary;
  font-family: $textFont;
}

section {
  padding: 3rem;
}

nav,
footer {
  padding: 3rem;
}

h1,
h2,
h3 {
  font-family: $titleFont;
}

h2 {
  margin-bottom: 20px;
}

a {
  @extend %link;
}
